.cardsList {
  background-color: #5110a5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardsList img {
  width: 200px;
}
.cardes {
  margin: 12px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  background: white;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.cardsList h1 {
  color: blueviolet;
}
